<h1 mat-dialog-title>Add new activation</h1>
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Logistic Center</mat-label>
      <mat-select [(ngModel)]="selectedLogisticCenter">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="filterLogisticOption($event)"
            [placeholderLabel]="'Cerca'"
            [noEntriesFoundLabel]="'Nessun risultato'"
          ></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let l of filteredListLogistica" [value]="l.CA">
          {{ l.CA }} {{ l.CABreve }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Base Product</mat-label>
      <mat-select [(ngModel)]="selectedProduct">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="filterProductOption($event)"
            [placeholderLabel]="'Cerca'"
            [noEntriesFoundLabel]="'Nessun risultato'"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let l of filteredListProducts"
          [value]="l.artbase.art_base"
        >
          {{ l.artbase.art_base }} {{ l.artbase.breve }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <small class='text-danger' [class.d-none]="product.valid || product.untouched">Please select a product</small> -->
  </div>
</div>
<mat-slide-toggle [(ngModel)]="demandplanningactive" color="primary"
  >Activate Demand Planning</mat-slide-toggle
>
<div mat-dialog-actions align="end">
  <button mat-raised-button type="button" (click)="onCloseClick()">
   Close
  </button>
  <button
    mat-raised-button
    type="submit"
    (click)="onSaveClick()"
    color="primary"
  >
    Save
  </button>
</div>
